*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Jost', sans-serif;
}
.main_title{
    font-size: 35px;
    color: #3F3A64;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #7D858E;
}
li{
    list-style: none;
}
/* GALLERY  */
.gallery_title{
    line-height: 10px;
    margin: 40px 0;
}
.gallery_content{
    margin: 60px 0;
}
.gallery_item{
    position: relative;
    overflow: hidden;
}
.gallery_content .gallery_item .gallery_overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.374);
    visibility: hidden;
    transition: all 0.5s;
    opacity: 0;
    z-index: 1;

}
.gallery_content .gallery_item:hover .gallery_overlay{
   opacity: 1;
   visibility: visible;
  
}
.gallery_item .gallery_overlay .overlay_content{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    padding: 45px 50px;
    color: #ffffff;
    z-index: 2;
    transform: translateY(200px);
}
.gallery_item:hover .gallery_overlay .overlay_content{
    opacity: 1;
    visibility: visible;  
    transform: translateY(0);
}
.gallery_item:hover img{
    transform: scale(1.2);
    transition: all 0.5s;
}

.gallery_content .gallery_top{
    margin-bottom: 30px;
}
.gallery_logo{
    background-color: rgba(128, 128, 128, 0.084);
}
.gallery_logo .logo_content{
    padding: 60px 40px;
}
.gallery_logo .logo_content .logo_item{
    padding: 0 50px;
}
/* SUCCESS  */
.success_content{
    display: flex;
}
.success_content .success_left{
    width: 50%;
}
.success_content .success_left img{
    border-radius: 20px;
}
.success_content .success_right{
    width: 50%;
    padding-left: 30px;
}
.success_right .success_title{
    margin-bottom: 40px;
}
.success_item .progress_info{
    margin-bottom: 40px;
    position: relative;
}
.success_item .progress_info h6{
   font-size: 18px;
}
.progress{
    display: flex;
    height: 5px;
    overflow: hidden;
    font-size: 18px;
    background-color: rgba(135, 132, 132, 0.174);
    border-radius: 0.25rem;
}
.success .progress-bar.gardient1::before, 
.success .progress-bar.gardient2::before, 
.success .progress-bar.gardient3::before, 
.success .progress-bar.gardient4::before {
    content: "";
    display: block;
   height: 28px;
  width: 28px;
  border: 1px solid;
  opacity: .3;
}
.success .progress-bar.gardient1::after,
.success .progress-bar.gardient2::after,
.success .progress-bar.gardient3::after,
.success .progress-bar.gardient4::after{
    content: "";
    display: block;
    height: 13px;
    width: 13px;
    border: 3px solid;
    background-color: white;
}
.success_item .info_item1 .progress_title{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.success_item .info_item2 .progress_title{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.success_item .info_item3 .progress_title{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.success_item .info_item4 .progress_title{
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.gardient1{
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}
.gardient2{
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}
.gardient3{
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}
.gardient4{
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}
.progress-bar-striped {
    background-size: cover;
}
.progress_info .progress .progress-bar.gardient1::before, .progress-bar.gardient1::after {
    content: "";
    position: absolute;
    right: 20%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
.progress_info .progress .progress-bar.gardient2::before, .progress-bar.gardient2::after {
    content: "";
    position: absolute;
    right: 5%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
.progress_info .progress .progress-bar.gardient3::before, .progress-bar.gardient3::after {
    content: "";
    position: absolute;
    right: 40%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
.progress_info .progress .progress-bar.gardient4::before, .progress-bar.gardient4::after {
    content: "";
    position: absolute;
    right: 15%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
/* CLIENT  */
.client{
    background-color: rgba(128, 128, 128, 0.05);
}
.client_top{

}
.client_bot{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px ;
}
.client_bot .client_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.client_bot .client_content{
    line-height: 10px;
}
.client_bot .client_content h4{
    color: #3F3A64;
    font-weight: 700;
}
/* NEWS  */

.news_content{
    display: flex;
    justify-content: space-between;
}
.news_content .card-body h4{
    color: #3F3A64;
    font-weight: 700;
}
.news_content .card_footer{
    border-top: 1px solid #eee;
}
.news_content .new_item .card_top{
   display: block;
   object-fit: cover;
   overflow: hidden;

}
.news_content .new_item:hover .card_top img {
    transform: scale(1.2);
    transition: all 0.5s;
}
.news_content .new_item .card-body h4{
    transition: all 0.5s;
}
.news_content .new_item:hover .card-body h4{
    color: green;
}
/* FOOTER  */
footer{
    background-color: #151421;
}
.footer_header{
    padding: 200px 0;
    background-image: url(./img/map.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.footer_header_form{
    display: grid;
    grid-template-columns: 50px 1fr auto;
    max-width: 550px;
    margin: auto;
}
.footer_header_form input{
    padding: 15px 20px;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    outline: none;
    border-color: rgba(255, 255, 255, 0.15);
    border-left: none;
}
.footer_header_form i{
    padding: 18px 15px;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px 0 0 5px;
    color: #999;
}
.footer_header_form button{
    padding: 14px 15px;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: rgb(54, 196, 54);
    transition: all 0.5s;
}
.footer_header_form button:hover{
    background-color: green;
}
.footer_body{
    border-top: 1px solid rgba(128, 128, 128, 0.459);
   
}
.footer_body_content{
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}
.footer_item{
    padding-right: 20px;
}
.footer_body_content .footer_item h6{
    color: white;
    font-size: 20px;
    
}
.footer_item .footer_logo{
    margin: 30px 0;
}
.footer_item .footer_logo a{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
.footer_item .footer_logo i{
    color: green;
    margin-right: 5px;
    vertical-align: bottom;
    font-size: 30px;
    font-weight: 700;
}
.footer_item .footer_logo span{
    display: block;
    font-size: 13px;
    padding-left: 40px;
}
.footer_item .footer_content{
    font-size: 18px;
}
.footer_item p, .footer_item ul li a{
    font-size: 18px;
}
.footer_item .footer_body_icon i{
    padding-right: 20px;
    color: #7D858E;
    transition: all 0.5s;
}
.footer_item .footer_body_icon i:hover{
    color: white;
}
.footer_item ul{
    margin-left: -30px;
}
.footer_item ul li{
    margin-bottom: 10px;
}
.footer_item p a{
    opacity: 0.7;
    transition: all 0.5s;
}
.footer_item p a:hover{
    color: white;
    opacity: 1;
}
.footer_item ul a{
    transition: all 0.5s;
}
.footer_item ul a:hover{
    color: white;
}
.footer_copyright{
    border-top: 1px solid rgba(128, 128, 128, 0.459);
}
.footer_copyright p{
    font-size: 18px;
    line-height: 30px;
}
.footer_copyright p a{
    color: green;
    transition: all 0.5s;
}
.footer_copyright p a:hover{
    color: white;
}