*{
  font-family: 'Jost', sans-serif;
}

/* HEADER CSS */
.container-fluid .nav_logo span, .container-fluid .nav_logo p{
  color: white;
  transition: all 0.5s;
}

.container-fluid .nav_logo i{
  color: rgb(0,159,77);
  
}

.container-fluid .nav_logo a {
  text-decoration: none;
  text-align: center;
  
  }
.container-fluid .nav_logo p{
  padding-left: 30px;
  padding-top: 0;
  margin-top: 0;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  opacity: 0.8;
  transition: all 0.5s;
}
.navbar-nav .nav-item .nav-link:hover{
  opacity: 1;
}


.header_right .header_search .search_button i{
  background-color: rgb(0,159,77);
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  align-items: center;
  margin-right: 20px;
}
/* FIXED HEADER CSS */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.main_header{
  transition: all 0.5s;
}
.sticky.main_header{
background-color: white;
box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.sticky .container-fluid .nav_logo span, .sticky .container-fluid .nav_logo p,.sticky .navbar-nav .nav-item .nav-link {
  color: #3f3a64;
 }

.theme .fa-moon, .theme .fa-sun{
  color: white;
  transition: all 0.5s;
}
.sticky .theme .fa-moon,.sticky .theme .fa-sun{
  color: #000;
}

.sticky .navbar-nav li.nav-item.active .nav-link{
  color: #009f4d;
  opacity: 0.9s;
}
/* SWITCH THEME CSS */
#myBody {
  background-color: white;
}

/* Dark Theme*/
.theme{
  display: flex;
  align-items: center;
}

.theme .theme_switch{
  display: inline-block;
  position: relative;
  margin: 0;
}

.theme_switch input{
  display: none;
}

.mode_container{
  width: 24px;
  height: 24px;
  padding: 1px 0;

}


/* BANNER  CSS */
header{
  position: absolute;
  top:0;
  left: 0;
  z-index: 999;
  width: 100%;
  
}
.banner{
  position: relative;
  height: 60vh;
  background-image: url(./image/b1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.banner .banner_content .banner_text{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(29 42 55 / 70%);
  color: white;
  justify-content: center;
  padding-top: 20px;
}

.banner .banner_content .banner_text h2 {
  font-weight: bold;
  font-size: 50px;
}

.banner .banner_content .banner_text p{
  font-size: 20px;
  color: rgb(184,182,182);
  
}

/* 404PAGES CSS */
.error_page{
  background-color: rgb(248,249,250);
}

.error_page .error_content{
  max-width: 850px;
  margin: auto;
}

.error_page .error_content .row{
  margin-left: -15px;
  margin-right: -15px;
}
.error_page .error_left img{
  max-width: 80%;
  align-items: flex-end;
}

.error_page .error_right h3{
  font-size: 120px;
  color: rgb(0,159,77);
  font-weight: bold;
  line-height: 1;
}

.error_page .error_right h5{
  font-size: 26px;
   font-weight: bold;
  line-height: 36px;
  margin: 16px 0 18px 0;
}

.error_page .error_right p{
  font-size: 17px;
  line-height: 28px;
  color: #666;
  opacity: 0.8;
  margin: 16px 0 18px 0;
}

.error_page .error_right form {
  position: relative;
}

.error_page .error_right form input{
  width: 100%;
  color: gray;
  background-color: white;
  padding: 12px 70px 12px 17px;
  font-size: 18px;
  height: 55px;
  border: 1px solid #eee;
  font-style: italic;
  display: block;
  border-radius: 2px;
}

.error_page .error_right form button{
  color: white;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  width: 60px;
  border: none;
  background-color: rgb(0,159,77);
  border-top-left-radius:0px; 
  border-bottom-left-radius:0px;
}
.error_page .error_right .back_button{
  font-weight: bold;
  color: rgb(63,58,100);
  font-size: 18px;
  text-decoration: none;
  transition: all 0.5s;
}

.error_page .error_right .back_button:hover{
  color: rgb(0,159,77);
}

/* FOOTER  */
footer{
  background-color: #151421;
}

.footer_body{
  border-top: 1px solid rgba(128, 128, 128, 0.459);
 
}
.footer_body_content{
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -15px;
  margin-left: -15px; */
}
.footer_item{
  padding-right: 20px;
}
.footer_body_content .footer_item h6{
  color: white;
  font-size: 20px;
  
}
.footer_item .footer_logo{
  margin: 30px 0;
}
.footer_item .footer_logo a{
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
.footer_item .footer_logo i{
  color: green;
  margin-right: 5px;
  vertical-align: bottom;
  font-size: 30px;
  font-weight: 700;
}
.footer_item .footer_logo span{
  display: block;
  font-size: 13px;
  padding-left: 40px;
}
.footer_item .footer_content{
  font-size: 18px;
}
.footer_item p, .footer_item ul li a{
  font-size: 18px;
  }
.footer_item a{
  color: #7D858E;
  text-decoration: none;

}

.footer_item .footer_body_icon i{
  padding-right: 20px;
  color: #7D858E;
  transition: all 0.5s;
}
.footer_item .footer_body_icon i:hover{
  color: white;
}
.footer_item ul{
  margin-left: -30px;
}
.footer_item ul li{
  margin-bottom: 10px;
}
.footer_item p a{
  opacity: 0.7;
  transition: all 0.5s;
}
.footer_item p a:hover{
  color: white;
  opacity: 1;
}
.footer_item ul a{
  text-decoration: none;
  color: #7D858E;
  transition: all 0.5s;
}
.footer_item ul a:hover{
  color: white;
}
.footer_copyright{
  border-top: 1px solid rgba(128, 128, 128, 0.459);
}
.footer_copyright p{
  font-size: 18px;
  line-height: 30px;
}
.footer_copyright p a{
  color: green;
  transition: all 0.5s;
}
.footer_copyright p a:hover{
  color: white;
}
.backToTop{
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: #009f4d;
  color: white;
  display: block;
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.backToTop i{
  color: white;
}

/* Light theme */
#myBody {
  background-color: white;
}
.mode_container .fa-sun{
  display: none;
}

.mode_container .fa-moon{
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: black;
}
.dark .fa-sun{
  display: block;
}

.dark .fa-moon{
  display: none;
}
.dark .sticky.main_header{
  background-color: #000;
}
  .dark .error_page{
    background-color: black;
  }
  .dark .error_page .error_right input{
    background-color: black;
    color: #c2c2c2;
    opacity: 0.5;
  }

  .dark .error_right h5{
    color: white;
  }

  .dark .error_right p{
    color: #919194;
  }

  .dark .back_button span, .back_button i{
    color: white;
    transition: all 0.5s;
  }

  .dark .back_button:hover span, .back_button:hover i{
    color:#009f4d;
  }
  .dark .sticky .navbar-nav .nav-item .nav-link,.dark .sticky .theme .fa-moon, .dark .sticky .theme .fa-sun {
    color: white;
    opacity: 0.7;
  }

  .dark .sticky .container-fluid .nav_logo span, .dark .sticky .container-fluid .nav_logo p {
    color: white;
    opacity: 0.9;
  }

  /* SEARCH POP UP CSS */
.control {
  cursor: pointer;
}
body.search-active .control{
  cursor: default;
}

.control .btn-material {
  background-color: rgb(0,159,77);
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  align-items: center;
  margin-right: 20px;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

body.search-active .control .btn-material {
    transform: scale(70);
}

body.search-active .control .icon-material-search{
  opacity: 0;
}

.control .icon-material-search {
  color: #FFF;
  transition: opacity 0.3s ease-in-out;
}


.header-search .icon-close{
  position: absolute;
  color: #FFF;
  cursor: pointer;
  font-size: 70px;
  opacity: 0;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}


body.search-active .header-search  .icon-close{
  opacity:1;
  transform: rotate(-90deg);

}

.search-input {
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -40px;
  pointer-events: none;
  opacity: 0;
  transform: translate(40px, 0);
  transition: all 0.3s ease-in-out;
  width: 88%;
  
}

body.search-active .search-input {
  opacity: 1;
  transform: none;
  pointer-events: all;
}

.search-input input {
  color: white !important;
  font-size: 54px;
  border: none;
  background: transparent;
  outline: 0;
  font-weight: 200;
  height: 100vh;
  width: 100%;
}


