*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Jost', sans-serif;
}
a{
  text-decoration: none;
}
.main_title{
  color: #3F3A64;
  font-weight: 700;
  font-size: 40px;
}
/* HEADER  */
.container-fluid .nav_logo span, .container-fluid .nav_logo p{
    color: white;
    transition: all 0.5s;
  }
  
  .container-fluid .nav_logo i{
    color: rgb(0,159,77);
    
  }
  
  .container-fluid .nav_logo a {
    text-decoration: none;
    text-align: center;
    
    }
  .container-fluid .nav_logo p{
    padding-left: 30px;
    padding-top: 0;
    margin-top: 0;
  }
  
  .navbar-nav .nav-item .nav-link {
    color: white;
    transition: all 0.5s;
  }
  
  
  .header_right .header_search .search_button i{
    background-color: rgb(0,159,77);
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    align-items: center;
    margin-right: 20px;
  }
  /* FIXED HEADER CSS */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .main_header{
    transition: all 0.5s;
  }
  .sticky.main_header{
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  }
  
  .sticky .container-fluid .nav_logo span, .sticky .container-fluid .nav_logo p, .sticky .navbar-nav .nav-item .nav-link{
    color:black;
  }
  
  .theme .fa-moon, .theme .fa-sun{
    color: white;
    transition: all 0.5s;
  }
  .sticky .theme .fa-moon,.sticky .theme .fa-sun{
    color: #000;
  }
  
  
  /* SWITCH THEME CSS */
  #myBody {
    background-color: white;
  }
  
  /* Dark Theme*/
  .theme{
    display: flex;
    align-items: center;
  }
  
  .theme .theme_switch{
    display: inline-block;
    position: relative;
    margin: 0;
  }
  
  .theme_switch input{
    display: none;
  }
  
  .mode_container{
    width: 24px;
    height: 24px;
    padding: 1px 0;
  
  }
  
  /* Light theme */
  #myBody {
    background-color: white;
  }
  .mode_container .fa-sun{
    display: none;
  }
  
  .mode_container .fa-moon{
    display: block;
  }
  
  /* Dark Theme*/
  .dark#myBody {
    background-color: black;
  }
  .dark .fa-sun{
    display: block;
  }
  
  .dark .fa-moon{
    display: none;
  }
  header{
    position: absolute;
    top:0;
    left: 0;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  }
  /* BANNER  */
  .banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/b1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
  }
  .banner_content h1{
    font-size: 45px;
    margin-top: 50px;
  }
  .banner_content p{
    color: white;
    font-size: 20px;
    opacity: 0.5;
  }
  .banner_overlay{
    background-color: rgba(29, 42, 55, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  /* SERVICES  */
  .services_contact{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; */
    
  }
  .services_contact .services_item-content{
    padding: 30px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
    background-color: #F8F9FA;
    margin: 0 20px;
  }
  .services_contact .services_item i{
    font-size: 40px;
  }
  .services_item .services_text h4{
    font-size: 20px;
    font-weight: 700;
    color: #3F3A64;
    margin-bottom: 10px;
  }
  .services_item .services_text p{
    opacity: 0.7;
  }
  .services_item .services_text p a{
    display: block;
    color: #666;
    transition: all 0.5s;
    opacity: 0.7;
  }
  .services_item .services_text p a:hover{
    opacity: 1;
  }
  /* MAP  */
  
  .map_location iframe{
    display: block;
    width: 100%;
    min-height: 500px;
}
/* FORM  */
.form_content{
    padding: 0 70px;
    
}
.form_infomation{
    position: relative;
    margin-bottom: 50px;
}
.form_infomation .form_top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.form_infomation .form_top input{
    padding: 15px;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
}
.form_infomation .form_bot textarea{
    padding: 15px;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
    height: 200px;
    display: inline-block;
    width: 100%;
    resize: none;
}
.form_button{
    display: flex;
    justify-content: end;
}
.form_button button{
    padding: 10px 40px;
    color: white;
    background-color: rgb(19, 202, 19);
    border-radius: 8px;
    border: none;
    transition: all 0.5s;
}
.form_infomation button:hover{
    background-color: green;
}
/* FOOTER  */
footer{
    background-color: #151421;
}
  .footer_body{
    border-top: 1px solid rgba(128, 128, 128, 0.459);
}
.footer_body_content{
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}
.footer_item{
    padding-right: 20px;
}
.footer_body_content .footer_item h6{
    color: white;
    font-size: 20px;
    
}
.footer_item .footer_logo{
    margin: 30px 0;
}
.footer_item .footer_logo a{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
.footer_item .footer_logo i{
    color: green;
    margin-right: 5px;
    vertical-align: bottom;
    font-size: 30px;
    font-weight: 700;
}
.footer_item .footer_logo span{
    display: block;
    font-size: 13px;
    padding-left: 40px;
}
.footer_item .footer_content{
    font-size: 18px;
}
.footer_item p, .footer_item ul li a{
    font-size: 18px;
}
.footer_item .footer_body_icon i{
    padding-right: 20px;
    color: #7D858E;
    transition: all 0.5s;
}
.footer_item .footer_body_icon i:hover{
    color: white;
}
.footer_item ul{
    margin-left: -30px;
}
.footer_item ul li{
    margin-bottom: 10px;
}
.footer_item p a{
  color: #97a1a9;
    opacity: 0.7;
    transition: all 0.5s;
}
.footer_item p a:hover{
    color: white;
    opacity: 1;
}
.footer_item ul a{
  color: #97a1a9;
    transition: all 0.5s;
}
.footer_item ul a:hover{
    color: white;
}
.footer_copyright{
    border-top: 1px solid rgba(128, 128, 128, 0.459);
}
.footer_copyright p{
    font-size: 18px;
    line-height: 30px;
}
.footer_copyright p a{
    color: green;
    transition: all 0.5s;
}
.footer_copyright p a:hover{
    color: white;
}
.backToTop{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: green;
    color: white;
    display: block;
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.backToTop i{
    color: white;
}
