
/* HEADER CSS */
.container-fluid .nav_logo span, .container-fluid .nav_logo p{
  color: white;
  transition: all 0.5s;
}

.container-fluid .nav_logo i{
  color: rgb(0,159,77);
  
}

.container-fluid .nav_logo a {
  text-decoration: none;
  text-align: center;
  
  }
.container-fluid .nav_logo p{
  padding-left: 30px;
  padding-top: 0;
  margin-top: 0;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  transition: all 0.5s;
}


.header_right .header_search .search_button i{
  background-color: rgb(0,159,77);
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  align-items: center;
  margin-right: 20px;
}
/* FIXED HEADER CSS */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.main_header{
  transition: all 0.5s;
}
.sticky.main_header{
background-color: white;
box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.sticky .container-fluid .nav_logo span, .sticky .container-fluid .nav_logo p, .sticky .navbar-nav .nav-item .nav-link{
  color:black;
}

.theme .fa-moon, .theme .fa-sun{
  color: white;
  transition: all 0.5s;
}
.sticky .theme .fa-moon,.sticky .theme .fa-sun{
  color: #000;
}


/* SWITCH THEME CSS */
#myBody {
  background-color: white;
}

/* Dark Theme*/
.theme{
  display: flex;
  align-items: center;
}

.theme .theme_switch{
  display: inline-block;
  position: relative;
  margin: 0;
}

.theme_switch input{
  display: none;
}

.mode_container{
  width: 24px;
  height: 24px;
  padding: 1px 0;

}

/* Light theme */
#myBody {
  background-color: white;
}
.mode_container .fa-sun{
  display: none;
}

.mode_container .fa-moon{
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: black;
}
.dark .fa-sun{
  display: block;
}

.dark .fa-moon{
  display: none;
}

/* BANNER CAROUSEL CSS */
header{
  position: absolute;
  top:0;
  left: 0;
  z-index: 999;
  width: 100%;
}

header .main_header{
  border-bottom: 1px solid rgb(83,93,103);
  
}

.banner_carousel{
  position: relative;
}

.banner_carousel .shape {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.banner_carousel .shape svg {
  fill: #fff; 
}

.banner_carousel .carousel-inner .carousel-item{
  position: relative;
  height: 100%;
}

.banner_carousel .carousel-control-prev {
  right: 80px;
  left: unset;
}

.banner_carousel .carousel-control-prev span,.banner_carousel .carousel-control-next span {
  width: 50px;
  height:50px;
  border-radius: 50%;
  font-size: 0;
  /* background-color: white; */
  color:#3F3A64;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;

}

.banner_carousel .carousel-control-next, .banner_carousel .carousel-control-prev {
  top: unset;
}

.banner_carousel .carousel-control-next-icon, .banner_carousel .carousel-control-prev-icon {
  background-color: #000;
}

.carousel-item .carousel_text{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgb(29 42 55 / 70%);
  color: white;
  padding-top: 15%;
  padding-left: 8%;
  }

.carousel-item .carousel_text h1{
  font-size: 65px;
  line-height: 1;
  margin-bottom: 30px;
  font-weight: bold;
  max-width: 800px;
}
.carousel-item .carousel_text p{
  max-width: 600px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.carousel-item .carousel_text button{
  padding: 15px 50px;
  background-color: rgb(0,166,63);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  transition: all 0.5s;
}

.carousel-item .carousel_text button:hover{
  background-color: #008030;
}
/* BANNER SHAPE CSS */
.shap{
  position: relative;
  
}

.shap svg{
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;

}

/* ABOUT CSS */
.about .about_title p{
  color: #7E7D7D;
  font-weight: bold;
}

.about .about_title h3{
  font-size: 35px;
  color: #3F3A64;
  margin-bottom: 30px;
}

.about .about_content p{
  color: #666666;
  margin-bottom: 40px;
}

.about .about_content ul{
  list-style: none;
  padding-left: 0;
  font-weight: bold;
}

.about .about_content ul li a{
  text-decoration: none;
  color: #3F3A64;
  font-size: 18px;
  line-height: 45px;

}

.about .about_content i{
  color: rgb(0,159,77);
  font-size: large;
  margin-right: 10px;
}

.about .about_right img{
  border-radius: 15px;
}

/* FEATURE CSS */
.feature .feature_left p:first-child{
  color: #7E7D7D;
  font-weight: bold;
}

.feature .feature_left h3{
  font-size: 35px;
  color: #3F3A64;
  margin-bottom: 30px;
}

.feature .feature_left p:nth-child(3){
  color: #666666;
  margin-bottom: 40px;
}

.feature .feature_left button{
  padding: 15px 50px;
  background-color: rgb(0,166,63);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  transition: all 0.5s;
}

.feature .feature_left button:hover{
  background-color: #008030;
}

.feature .feature_right .feature_item{
  background-color: white;
  font-weight: bold;
  text-align: center;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  font-size: 22px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.5s;
  
}

.feature .feature_right .feature_item:hover{
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
  transform: translateY(-0.25rem);
}

.feature .feature_right .feature_item p{
  margin-top: 20px;
}

.feature .feature_right .feature_item p:hover{
  color: #008030;
}

/* SERVICES css */

.service .service_content .card_item button{
 transform: translateY(-25px);
  padding: 15px 50px;
  border: 1px solid transparent;
  background-color: white;
  border-radius: 10px;
  color: #3F3A64;
  font-weight: bold;
  font-size: 19px;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  transition: all 0.5s;
}
.service .service_content .card_item button:hover, .service .service_content .card_item a:hover{
  color: #008030;
}

.service .service_content .card_item a{
  text-decoration: none;
  color: #3F3A64 ;
  font-weight: bold;
  transition: all .5s;
}